html, body, #__nuxt, #__layout {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
  ), url("~/assets/images/background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
}
